section {
	display: flex;
  margin: 0 40px 0 40px;
}


.weatherBox {
  margin: 0 200px;
	
}

section .weather {
  display: flex;
  flex-direction: column;
	flex: 2; 
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 5px;
  text-align: center;
}
.weather span {
  font-weight: bold;
}